@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');

.navbar-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #141920;
    font-family: 'Ruda';
}

.navbar-container h1 {
    color:#ffffff;
}

.navbar-container button {
    background-color:#ffffff;
    color:#000000;
    border:none;
    height:25px;
    width:120px;
    font-size: 18px;
    font-family: 'Ruda';
}


.navbar-container button:disabled{
    background-color:#c0aeae;
    color:#000000;
    border:none;
    height:25px;
    width:120px;
    font-size: 18px;
}
