.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  margin: 0 2px;
  text-align: center;
  transform: perspective(40px) rotateX(6deg);
}

.tab-list-item:nth-child(1) {
  background-color: #8faadb;
}

.tab-list-item:nth-child(2) {
  background-color: #f4b183;
}

.tab-list-item:nth-child(3) {
  background-color: #ffc002;
}

.tab-list-active {
  border: solid goldenrod;
  font-weight: bold;
  border-width: 1px 1px 0 1px;
}
